# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.server/
.serverless/
.fusebox/
.dynamodb/
.tern-port/

.vercel
gt.ps1